
var format = function(text){
  if(!text){
    console.log('111')
    return;
  }
  var reg = getRegExp('\\\\n', 'g')
  return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}

var limit = function(array, length=10){
   return array.slice(0, length )
}
module.exports = {
  format: format,
  limit: limit
}
